@charset "utf-8";

#unicode-normalizer-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

#unicode-normalizer-unit .actions.right
{
    justify-content: flex-end;
    margin-bottom: -0.5em;
}

#unicode-normalizer-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#unicode-normalizer-unit .action-group + .action-group,
#unicode-normalizer-unit .action + .action
{
    margin-left: 0.75em;
}

#unicode-normalizer-unit .input-group
{
    margin-bottom: 0.5em;
}

#unicode-normalizer-unit .characters-input,
#unicode-normalizer-unit .code-points-input
{
    line-height: 1.333em;
    width: 100%;
    margin: 0;
}

#unicode-normalizer-unit .characters-input
{
    font-family: sans-serif;
    font-size: 24px;
    padding: 2px 5px;
    tab-size: 4;
    margin-bottom: 0.2em;
}

#unicode-normalizer-unit .code-points-input
{
    font-family: Monaco, "Noto Mono", monospace;
    font-size: 14px;
    padding: 4px 5px;
}

#unicode-normalizer-unit .forms-data
{
    margin-top: 16px;
}

#unicode-normalizer-unit table.form-data
{
    table-layout: fixed;
    margin: 10px 0 4px 0;
}

#unicode-normalizer-unit table.form-data th
{
    text-align: left;
    vertical-align: middle;
    padding: 2px 6px;
    /* user-select: text; */
}

#unicode-normalizer-unit table.form-data td
{
    text-align: left;
    vertical-align: middle;
    background-color: white;
    overflow-wrap: break-word;
    user-select: text;
}

#unicode-normalizer-unit table.form-data td.characters-string
{
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.333em;
    tab-size: 4;
    padding: 2px 6px;
    height: 37px;
    overflow: auto;
    vertical-align: bottom;
}

#unicode-normalizer-unit table.form-data td.code-points-string
{
    font-family: Monaco, "Noto Mono", monospace;
    font-size: 14px;
    line-height: 1.333em;
    padding: 4px 6px;
    height: 28px;
}

#unicode-normalizer-unit .forms-table
{
    margin: 0.75em 0;
    width: unset;
}

#unicode-normalizer-unit .forms-table tr th,
#unicode-normalizer-unit .forms-table tr td
{
    text-align: left;
    padding: 0.25em 0.75em;
    white-space: nowrap;
}

#unicode-normalizer-unit .forms-table tr th
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8))
}

#unicode-normalizer-unit .forms-table tr td
{
    vertical-align: middle;
    line-height: 1.25em;
    height: 2.5em;
}

#unicode-normalizer-unit .forms-table tr:nth-child(even)
{
    background-color: white;
}

#unicode-normalizer-unit .forms-table tr:nth-child(odd)
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unicode-normalizer-unit .plain-panel
{
    padding-bottom: 1.25em;
}

#unicode-normalizer-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#unicode-normalizer-unit .instructions li
{
    margin: 0.25em 0;
}

#unicode-normalizer-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#unicode-normalizer-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unicode-normalizer-unit .instructions code
{
    user-select: text;
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unicode-normalizer-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
