@charset "utf-8";

#unicode-inspector-unit .plain-panel
{
    padding-bottom: 0.75em;
    overflow-x: visible;
}

#unicode-inspector-unit .tab-bar
{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    white-space: nowrap;
    margin: -2em 0 1em 0;
}

#unicode-inspector-unit .tab-bar .tab-label .tab-radio
{
    display: none;
}

#unicode-inspector-unit .tab-bar .tab-label span
{
    padding: 0.2em 1em;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid var(--color-accent);
    border-radius: 0;
    background-color: white;
    color: var(--color-accent);
    margin: 0 -2px;
    vertical-align: middle;
}

#unicode-inspector-unit .tab-bar .tab-label:first-of-type span
{
    border-top-left-radius : 0.5em;
    border-bottom-left-radius : 0.5em;
    margin-right: -3px;
}

#unicode-inspector-unit .tab-bar .tab-label:last-of-type span
{
    border-top-right-radius : 0.5em;
    border-bottom-right-radius : 0.5em;
    margin-left: -3px;
}

#unicode-inspector-unit .tab-bar .tab-label .tab-radio:checked + span
{
    background-color: var(--color-accent);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    color: white;
}

#unicode-inspector-unit .tab-bar .tab-label .tab-radio:not(:checked) + span:hover
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.75), hsla(0, 0%, 100%, 0.75));
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
}

#unicode-inspector-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

#unicode-inspector-unit .actions.code-points-actions
{
    justify-content: space-between;
}

#unicode-inspector-unit .action + .action
{
    margin-left: 0.75em;
}

#unicode-inspector-unit .output-characters-data table
{
    margin: 1.25em 0 1em 0;
}

#unicode-inspector-unit .output-code-points-data table
{
    margin: 1em 0 1em 0;
}

#unicode-inspector-unit .data-list
{
    user-select: text;
    background-color: white;
}

#unicode-inspector-unit .data-list .data-header-centered
{
    text-align: center;
    font-size: 12px;
    padding: 0.25em 0.5em;
    font-weight: bold;
}

#unicode-inspector-unit .data-list .data-header
{
    text-align: left;
    font-size: 12px;
    padding: 0.25em 0.5em;
    font-weight: bold;
}

#unicode-inspector-unit .data-list .symbol
{
    font-family: sans-serif;
    font-size: 72px;
    height: 1em;
    min-width: 1em;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    padding: 0.2em;
}

#unicode-inspector-unit .data-list .codes
{
    white-space: nowrap;
}

#unicode-inspector-unit .data-list .codes,
#unicode-inspector-unit .data-list .properties
{
    text-align: left;
    font-size: 12px;
    vertical-align: top;
    line-height: 1.2em;
    font-family: Monaco, "Noto Mono", monospace;
    padding: 0.25em 0.5em;
}

#unicode-inspector-unit .data-list .field
{
    margin: 0.25em 0;
}

#unicode-inspector-unit .input-characters,
#unicode-inspector-unit .output-characters
{
    font-family: sans-serif;
    font-size: 36px;
    padding: 0 0.2em;
    width: 100%;
    tab-size : 4;
    line-height: 48px;
    resize: vertical;
    overflow-y: scroll;
    min-height: calc(1px + 48px + 48px + 1px);
}

#unicode-inspector-unit .output-code-points
{
    margin-bottom: 0.125em;
}

#unicode-inspector-unit .input-code-points,
#unicode-inspector-unit .output-code-points
{
    font-family: Monaco, "Noto Mono", monospace;
    font-size: 1em;
    line-height: 1.333em;
    padding: 0.2em 0.4em;
    width: 100%;
    tab-size : 4;
}

#unicode-inspector-unit .characters-to-code-points
{
    margin: 1em 0;
}

#unicode-inspector-unit .input-characters
{
    margin: 0 0 0.25em 0;
}

#unicode-inspector-unit .code-points-to-characters
{
    margin: 1em 0 0.75em 0;
}

#unicode-inspector-unit .input-code-points
{
    margin: 0 0 1em 0;
}

#unicode-inspector-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#unicode-inspector-unit .instructions li
{
    margin: 0.25em 0;
}

#unicode-inspector-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unicode-inspector-unit .instructions code
{
    user-select: text;
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unicode-inspector-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
