@charset "utf-8";

#unicode-data-finder-unit .plain-panel
{
    padding-bottom: 1em;
    overflow-x: visible;
}

#unicode-data-finder-unit .tab-bar
{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    white-space: nowrap;
    margin: -2em 0 1.5em 0;
}

#unicode-data-finder-unit .tab-bar .tab-label .tab-radio
{
    display: none;
}

#unicode-data-finder-unit .tab-bar .tab-label span
{
    padding: 0.2em 1em;
    font-size: 1em;
    font-weight: 600;
    border: 1px solid var(--color-accent);
    border-radius: 0;
    background-color: white;
    color: var(--color-accent);
    margin: 0 -2px;
    vertical-align: middle;
}

#unicode-data-finder-unit .tab-bar .tab-label:first-of-type span
{
    border-top-left-radius : 0.5em;
    border-bottom-left-radius : 0.5em;
    margin-right: -3px;
}

#unicode-data-finder-unit .tab-bar .tab-label:last-of-type span
{
    border-top-right-radius : 0.5em;
    border-bottom-right-radius : 0.5em;
    margin-left: -3px;
}

#unicode-data-finder-unit .tab-bar .tab-label .tab-radio:checked + span
{
    background-color: var(--color-accent);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    color: white;
}

#unicode-data-finder-unit .tab-bar .tab-label .tab-radio:not(:checked) + span:hover
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.75), hsla(0, 0%, 100%, 0.75));
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
}

#unicode-data-finder-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0.5em 0;
    white-space: nowrap;
}

#unicode-data-finder-unit .actions
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

#unicode-data-finder-unit .search-group
{
    flex-grow: 1;
    margin-right: -0.5em;
}

#unicode-data-finder-unit .search-wrap
{
    width: 100%;
}

#unicode-data-finder-unit .search-string
{
    width: 100%;
    font-size: 1em;
    background: white;
    border: 1px solid var(--color-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
}

#unicode-data-finder-unit .search-string.error
{
    color: var(--color-error);
}

#unicode-data-finder-unit input[type=checkbox]
{
    display: none;
}

#unicode-data-finder-unit input[type=checkbox] + svg
{
    font-size: 1.7em;
    line-height: 1em;
    text-align: center;
    padding: 1px;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    background: white;
    border: 1px solid var(--color-accent);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    color: var(--color-accent);
    fill: var(--color-accent);
}

#unicode-data-finder-unit input[type=checkbox]:checked + svg
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0.15));
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
    fill: white;
}

#unicode-data-finder-unit input[type=checkbox]:disabled + svg
{
    color: gray;
    fill: gray;
    border: gray 1px solid;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    pointer-events: none;
}

#unicode-data-finder-unit .search-group .action
{
    margin-right: 0.5em;
}

#unicode-data-finder-unit .search-info
{
    text-align: left;
    font-size: small;
    /* color: gray; */
    margin: -0.25em 0 0.5em 0;
    user-select: text;
}

#unicode-data-finder-unit .action-group-no-flex .action-no-flex *
{
    margin-bottom: 0.5em;
}

#unicode-data-finder-unit .list-by-block .specimen
{
    font-size: inherit;
    background: white;
    border: 1px solid var(--color-border);
    /* border-radius: 0.25em; */
    padding: 0.2em 0.3em;
    width: 7.2em;
    margin: 0 0.25em 0 1.25em;
}

#unicode-data-finder-unit .list-by-block .specimen:invalid
{
    color: var(--color-error);
}

#unicode-data-finder-unit .pagination-bar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 1em 0 0 0;
}

#unicode-data-finder-unit .pagination-bar .pagination-group
{
    white-space: nowrap;
    display: flex;
}

#unicode-data-finder-unit .pagination-bar .page-select:disabled
{
    pointer-events: none;
}

#unicode-data-finder-unit .pagination-bar .page-select,
#unicode-data-finder-unit .pagination-bar .page-nav-button
{
    margin-right: 1em;
}

#unicode-data-finder-unit .pagination-bar .page-select
{
    font-family: Monaco, "Noto Mono", monospace;
    font-weight: bold;
    font-size: 1em;
    padding: 0.2em 0.4em;
    text-align: right;
}

#unicode-data-finder-unit .pagination-bar .page-nav-button
{
    width: 2.4em;
    border-radius: 0;
}

#unicode-data-finder-unit .pagination-bar .page-nav-button svg.page-nav-icon
{
    width: 1em;
    height: 1em;
    vertical-align: bottom;
    fill: currentColor;
}

#unicode-data-finder-unit .pagination-bar .page-info
{
    margin: 0 1em 0 0.5em;
}

#unicode-data-finder-unit .search-data .data-table
{
    user-select: text;
    margin: 0.75em 0;
}

#unicode-data-finder-unit .search-data .symbol-header,
#unicode-data-finder-unit .search-data .code-point-header,
#unicode-data-finder-unit .search-data .name-header,
#unicode-data-finder-unit .search-data .block-name-header
{
    text-align: left;
    line-height: 1em;
    padding: 0.5em;
}

#unicode-data-finder-unit .search-data .name-header
{
    width: 75%;
}

#unicode-data-finder-unit .search-data .block-name-header
{
    width: 25%;
}

#unicode-data-finder-unit .search-data .row
{
    background-color: white;
}

#unicode-data-finder-unit .list-by-block  .search-data .row.unassigned
{
    background-image: url("crosshatch-1-1-h-flip.svg");
    background-size: 8px;
    background-position: center;
    color: gray;
}

#unicode-data-finder-unit .list-by-block .search-data .highlighted
{
    background-color: gold;
}

#unicode-data-finder-unit .search-data .symbol-header
{
    text-align: center;
}

#unicode-data-finder-unit .search-data .symbol
{
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    line-height: 1.2em;
    min-width: 2.5em;
    max-width: 2.5em;
    padding: 0.2em 0.1em;
    overflow-x: overlay;
    overscroll-behavior: contain;
}

#unicode-data-finder-unit .search-data .code-point
{
    font-family: Monaco, "Noto Mono", monospace;
    text-align: left;
    line-height: 1em;
    vertical-align: middle;
    padding: 0.5em;
}

#unicode-data-finder-unit .search-data .names
{
    text-align: left;
    vertical-align: middle;
    padding: 0.5em;
}

#unicode-data-finder-unit .search-data .names .name,
#unicode-data-finder-unit .search-data .names .alias,
#unicode-data-finder-unit .search-data .names .correction
{
    margin: 0.2em 0;
}

#unicode-data-finder-unit .search-data .names .name
{
    line-height: 1em;
}

#unicode-data-finder-unit .search-data .names .alias,
#unicode-data-finder-unit .search-data .names .correction
{
    font-size: 0.85em;
    font-style: italic;
    line-height: 1em;
}

#unicode-data-finder-unit .search-data .names .correction::after
{
    content: "\A0*";
}

#unicode-data-finder-unit .search-data .block-name
{
    text-align: left;
    line-height: 1em;
    vertical-align: middle;
    padding: 0.5em;
    hyphens: none;
}

#unicode-data-finder-unit .search-data .block-name .no-wrap
{
    white-space: nowrap;
}

#unicode-data-finder-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#unicode-data-finder-unit .instructions li
{
    margin: 0.25em 0;
}

#unicode-data-finder-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unicode-data-finder-unit .instructions code
{
    user-select: text;
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unicode-data-finder-unit .regex-examples ul
{
    margin: -0.5em 0 1em 0;
}

#unicode-data-finder-unit .regex-examples li
{
    margin: 0.5em 0;
}

#unicode-data-finder-unit .regex-examples li > ul
{
    margin: 0.5em 0;
}

#unicode-data-finder-unit .regex-examples code
{
    user-select: text;
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unicode-data-finder-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
