@charset "utf-8";

#regex-properties-unit .interface
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0 1.5em;
}

#regex-properties-unit .interface .option-group .option
{
    white-space: nowrap;
    margin-left: 1em;
}

#regex-properties-unit .property-list
{
    margin: 1em 0;
}

#regex-properties-unit .property-list .canonic
{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

#regex-properties-unit .property-list .alias
{
    width: 25%;
}

#regex-properties-unit .property-list th
{
    background-color: var(--color-border);
    font-weight: bold;
    white-space: nowrap;
}

#regex-properties-unit .property-list tr:nth-child(even)
{
    background-color: white;
}

#regex-properties-unit .property-list tr:nth-child(odd)
{
    background-color: var(--color-bg);
}

#regex-properties-unit .property-list th,
#regex-properties-unit .property-list td
{
    text-align: left;
    vertical-align: middle;
    line-height: 1.5em;
    padding: 0.25em 1em;
}

#regex-properties-unit .property-list th
{
    line-height: 1.333em;
}

#regex-properties-unit .property-list td
{
    font-family: Monaco, "Noto Mono", monospace;
    font-size: 13px;
    user-select: text;
}

#regex-properties-unit .instructions p
{
    margin: 0.5em 0;
    line-height: 1.5em;
}

#regex-properties-unit .instructions table
{
    margin: 0.25em 0 0.75em 0;
}

#regex-properties-unit .instructions table th,
#regex-properties-unit .instructions table td
{
    user-select: text;
    padding: 0.25em 0.5em;
    text-align: left;
}

#regex-properties-unit .instructions table th.description
{
    width: 100%;
}

#regex-properties-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#regex-properties-unit .instructions li
{
    margin: 0.2em 0;
}

#regex-properties-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#regex-properties-unit .instructions .notes li
{
    margin: 0.25em 0 0.5em 0;
}

#regex-properties-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#regex-properties-unit .instructions code
{
    user-select: text;
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#regex-properties-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
