@charset "utf-8";

#unihan-radical-strokes-unit .plain-panel
{
    padding-top: 1.25em;
    padding-bottom: 1em;
}

#unihan-radical-strokes-unit .action-group
{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0.5em 0;
    white-space: nowrap;
}

#unihan-radical-strokes-unit .actions
{
    align-items: center;
    margin-bottom: 0.8em;
}

#unihan-radical-strokes-unit .radical-select,
#unihan-radical-strokes-unit .strokes-select
{
    font-family: "Sans CJK TC";
}

#unihan-radical-strokes-unit .rs-group
{
    margin-right: -0.5em;
}

#unihan-radical-strokes-unit .rs-group .action
{
    margin-right: 1.25em;
}

#unihan-radical-strokes-unit .rs-2-group
{
    margin: -0.25em -0.5em 0.5em 0;
}

#unihan-radical-strokes-unit .rs-2-group .action
{
    margin-right: 1.5em;
}

#unihan-radical-strokes-unit .rs-2-group .action label
{
    vertical-align: middle;
}

#unihan-radical-strokes-unit .results
{
    text-align: left;
    font-size: small;
    margin: 0.25em 0 0.8em 0;
    user-select: text;
}

#unihan-radical-strokes-unit .results .results-button
{
    padding: 3px 6px;
    margin-right: 1em;
    user-select: none;
}

#unihan-radical-strokes-unit .results .results-button svg.gear
{
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
}

#unihan-radical-strokes-unit .results .results-string
{
    line-height: 1em;
}

#unihan-radical-strokes-unit .results .results-string .hit-count,
#unihan-radical-strokes-unit .view-by-grid .results .results-string .total-count
{
    font-weight: bold;
}

#unihan-radical-strokes-unit .rs-group label.disabled
{
    color: gray;
}

#unihan-radical-strokes-unit .rs-layout-options-group
{
    text-align: right;
    margin-top: -1em;
    margin-bottom: -0.5em;
}

#unihan-radical-strokes-unit .rs-data-chart
{
    margin: 1em 0 0.75em 0;
    user-select: text;
    border: 1px solid var(--color-border);
}

#unihan-radical-strokes-unit .rs-data-chart .title-header
{
    text-align: center;
    font-family: "Sans CJK TC";
    font-size: 19px;
    line-height: 1.5em;
    font-weight: normal;
    padding: 0.2em 0.4em;
    vertical-align: middle;
    background-color: hsla(0, 0%, 50%, 0.06);
}

#unihan-radical-strokes-unit .rs-data-chart .strokes-data
{
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 1em;
    font-weight: 600;
    background-color: white;
    color: var(--color-accent);
    padding: 0.25em 0.75em;
}

#unihan-radical-strokes-unit .rs-data-chart .strokes-data .long-title
{
    display: inline;
}

#unihan-radical-strokes-unit .rs-data-chart .strokes-data .short-title
{
    display: none;
}

#unihan-radical-strokes-unit .rs-data-chart .no-break
{
    user-select: none;
}

#unihan-radical-strokes-unit .rs-data-chart .strokes-separator
{
    margin: 0.75em 0;
    border: none;
    border-bottom: 1px solid var(--color-border);
}

#unihan-radical-strokes-unit .rs-data-chart .compact-layout .strokes-separator
{
    display: none;
}

#unihan-radical-strokes-unit .rs-data-chart .compact-layout .strokes-data
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    font-size: 22px;
    font-weight: 600;
    background-color: white;
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
    /* border-radius: 50%; */
    padding: 0;
    margin: 8px;
    width: 40px;
    height: 40px;
}

#unihan-radical-strokes-unit .rs-data-chart .compact-layout .strokes-data .long-title
{
    display: none;
}

#unihan-radical-strokes-unit .rs-data-chart .compact-layout .strokes-data .short-title
{
    display: inline;
}

#unihan-radical-strokes-unit .rs-data-chart .characters-data
{
    display: block;
    background-color: white;
    text-align: left;
    padding: 1em;
    border-top: 1px solid var(--color-border);
}

#unihan-radical-strokes-unit .rs-data-chart .characters-data .character-data
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 4px;
    width: 48px;
}

#unihan-radical-strokes-unit .rs-data-chart .characters-data .character-data .symbol
{
    font-size: 36px;
    text-align: center;
    line-height: 1em;
    margin-bottom: 4px;
    border: 1px solid transparent;
}

#unihan-radical-strokes-unit .rs-data-chart .characters-data .character-data .symbol.deferred
{
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
}

#unihan-radical-strokes-unit .rs-data-chart .characters-data .character-data.extra-source .symbol
{
    color: gray;
}

#unihan-radical-strokes-unit .rs-data-chart .characters-data .character-data .code-point
{
    font-family: Monaco, "Noto Mono", monospace;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 1em;
    padding: 3px 3px 2px 3px;
    border: 1px solid var(--color-border);
    border-radius: 2px;
    background-color: var(--color-bg);
}

#unihan-radical-strokes-unit .rs-data-chart .characters-data .character-data.extra-source .code-point
{
    color: gray;
    background-color: white;
    border: 1px dotted gray;
}

#unihan-radical-strokes-unit .radicals-table
{
    margin-bottom: 1.25em;
    user-select: text;
    width: unset;
}

#unihan-radical-strokes-unit .radicals-table th
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
    white-space: nowrap;
    padding: 0.25em 0.5em;
}

#unihan-radical-strokes-unit .radicals-table tr.even
{
    background-color: white;
}

#unihan-radical-strokes-unit .radicals-table tr.odd
{
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unihan-radical-strokes-unit .radicals-table td
{
    font-family: "Sans CJK TC";
    font-size: 14px;
    padding: 0.25em 0.5em;
}

#unihan-radical-strokes-unit .radicals-table td.data-strokes
{
    font-family: inherit;
    font-size: inherit;
    text-align: left;
    font-weight: 600;
    padding: 0.25em 1.65em;
    color: var(--color-accent);
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.9));
}

#unihan-radical-strokes-unit .radicals-table td.data-strokes::before
{
    content: "◎\A0\A0";
    font-size: 1.05em;
}

#unihan-radical-strokes-unit .radicals-table th.header-index,
#unihan-radical-strokes-unit .radicals-table td.data-index
{
    text-align: right;
}

#unihan-radical-strokes-unit .radicals-table th.header-radical,
#unihan-radical-strokes-unit .radicals-table td.data-kangxi
{
    text-align: center;
}

#unihan-radical-strokes-unit .radicals-table th.header-name,
#unihan-radical-strokes-unit .radicals-table td.data-name
{
    text-align: left;
}

#unihan-radical-strokes-unit .radicals-table th.header-variants,
#unihan-radical-strokes-unit .radicals-table td.data-variants
{
    text-align: center;
}

#unihan-radical-strokes-unit .instructions ul
{
    margin: -0.5em 0 1em 0;
}

#unihan-radical-strokes-unit .instructions li
{
    margin: 0.25em 0;
}

#unihan-radical-strokes-unit .instructions li > ul
{
    margin: 0 0 0.25em 0;
}

#unihan-radical-strokes-unit .instructions kbd
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0 0.333em 1px;
    border: 1px solid gray;
    border-radius: 0.2em;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.95), hsla(0, 0%, 100%, 0.95));
}

#unihan-radical-strokes-unit .instructions code
{
    color: inherit;
    background: var(--color-accent) linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.8));
}

#unihan-radical-strokes-unit summary
{
    font-weight: bold;
    margin: 1.2em 0 1em 0;
}
